@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body{
    background-image: url(img/no1.webp);
    background-size: cover;
    font-family: 'roboto',sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem .5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,5);
    background-color: #fff;
}

.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: rgb(53, 165, 25) !important;
    font-family:'Times New Roman', Times, serif;
}

#navbarSupportedContent a{
    display: flex;
    color: #1098aa;
    border-bottom: 2px solid transparent;
    width: 5;
    justify-content: space-around;
    
    
}         

.nav-item
{
    padding-left: 50px;
}
.fa-home{
    margin:auto;
}
.fa-info{
    margin: auto;
    color: #000000;
}

#navbarSupportedContent a:hover{
    border-bottom: 2px solid rgb(10, 134, 31);

}

#navbarSupportedContent button{
    background: #fff;
    width: 5rem;
    border-radius: 20px;
    color: rgb(255, 0, 0);
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signup-box{
    width: 360px;
    height: 620px;
    margin:auto;
    background-color: transparent;
    outline:auto;
    margin-top: 10px;
    margin-bottom: 5px;    
    
}

h1{
    text-align: center;
    padding-top: 15px;
}
form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid green;
    border-radius: 6px;
    outline: none;
}

input[type="button"]{
    width: 100px;
    height: 35px;
    margin-top: 20px;
    border:#000000;
    background-color: #00d39e;
    color: #fff;
    font-size: 18px;
    
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.para-2{
    text-align: center;
    color:#9d0faa ;
    font-size: 15px;
    margin-top: 18px;
}


