@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem .5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,5);
    background-color: #fff;
}

.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: rgb(53, 165, 25) !important;
    font-family:'Times New Roman', Times, serif;
}

#navbarSupportedContent a{
    display: flex;
    color: #000;
    border-bottom: 2px solid transparent;
    width: 5;
    justify-content: space-around;
    
    
}         

.nav-item
{
    padding-left: 50px;
}
.fa-home{
    margin:auto;
}

.fa-shopping-cart{
    color: #000;
    

}

.cart{
    text-decoration: none;
    
}

.cart i{
    display: flex;
    font-size: 30px;
    width: 30px;
    height: 30px;
  
  
    
}
.cart span {
    z-index: 100;
    right: 95px;
    position: fixed;
    font-size: 9px;
    
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid rgb(10, 134, 31);

}

#navbarSupportedContent button{
    background: #fff;
    width: 5rem;
    border-radius: 20px;
    color: rgb(255, 0, 0);
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .nav span{
    display:flex ;
    background-color: #000;
    width: 20px;
    height: 20px;
    font-size: 15px;
    
    border-radius: 100%;
    color: #fff;
    z-index: 8rem;
    
    margin-right: 40px;
} */



/*****home****/

#Home{
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)), url(img/no16.jpg    );
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
#Home h1{
    font-size: 100px;
    color: #ffffff;
    letter-spacing: 3px;
    border: #000000;
    text-shadow: 5px 5px  #000000;
    
}



 /* search */

 .input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 18px 16px;
    background-color: transparent;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  
  .input::placeholder {
    color: transparent;
  }
  
  .input:focus::placeholder {
    color: rgb(131, 128, 128);
  }
  
  .input:focus,.input:not(:placeholder-shown) {
    background-color: #fff;
    border: 1px solid rgb(91, 107, 255);
    width: 290px;
    cursor: none;
    padding: 18px 16px 18px 45px;
  }
  
  .icon {
    position: absolute;
    left: 0;
    height: 45px;
    width: 45px;
    background-color: #fff;
    border-radius: 99px;
    z-index: -1;
    fill: rgb(91, 107, 255);
    border: 1px solid rgb(91, 107, 255);
  }
  
  .input:focus + .icon,.input:not(:placeholder-shown) + .icon {
    z-index: 0;
    background-color: transparent;
    border: none;
  }

  /***chatbot***/
.chat-container{
    
    bottom: 50px;
    right: 50px;
    z-index: 999;
    cursor: pointer;
}
.chatBtn {
    position: fixed;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    /* background-color: #FFE53B; */
    background-image: linear-gradient(147deg, #FFE53B, #FF2525,#FFE53B);
    cursor: pointer;
    padding-top: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
    position: relative;
    background-size: 300%;
    background-position: left;
    transition-duration: 1s;
    z-index: 999;
    opacity: 0;
    animation: slideLeft 1s ease forwards,floatImage 4s ease-in-out infinite ;
    animation-delay: .5s ,1.5s;

  }
  
  .tooltip {
    position: absolute;
    top: -40px;
    opacity: 0;
    background-color: rgb(255, 180, 82);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
    pointer-events: none;
    letter-spacing: 0.5px;
  }
  
  .chatBtn:hover .tooltip {
    opacity: 1;
    transition-duration: .5s;
  }
  
  .chatBtn:hover {
    
    background-position: right;
    transition-duration: 1s;
    background: #fff;
   

  }
  .chatBtn svg:hover{
    fill: #ff5903;
  }
  

  





/*****About*****/

#About{
    background:seagreen;
    color:  #0a1470e8;
    
}
#About h1{
    font-weight: 800;
    font-size: 55px;
    color: #000000;
}
.img-fluid{
    width: 600px;
    height: 700px;
}

/***Product****/

#product{
    background:seagreen;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
    gap: 2rem;
}
#product h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 800;
}
.card{
    
    width: 300px;
    height: 300px;
    background: hsl(0, 9%, 69%) !important; 
    border: #000;;
    box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.753),inset 4px 4px 10px  rgb(85, 55, 55);
    border-radius: 20px !important;
    overflow: hidden;
    justify-content:center;
    align-items: center;
    margin: 20px 60px;
    transition: .2s;
}
.card-img-top{
    width: 400px;
    height: 300px;

}
.card:hover{
    box-shadow: inset 4px 4px 10px  rgba(0, 0, 0, 0.3),inset -4px -4px 10px  rgb(236, 236, 236);
    transition: 5s;
    transform: scale(.9);
   
}

/***contact page***/
#contact{
    background: seagreen;
}
#contact img{
    height: 100%;
    width: 85%;
}
.box{
    width: 80% impot !important;
    background: seagreen;
    margin-top: 10;
}

form{
    display: flex;
    flex-direction: column;
}
#contact input{
    margin: 10px 0px;
}
#contact textarea{
    margin: 10px 0px;
}
/***login page**/

#login{
    background-image:url(img/no13.avif) ;
    background-size: cover;
    background-position: center;

    .container{
        margin:auto;
        width: 60%;
        position:sticky;
    }
    .card{
        padding: 60px 40px 50px 40px;
        background:#000000 !important;
        border-radius: 5px;
        box-shadow: none;
        width: 50%;
        height: 50%;
    }
    #name{
        border:#fff;
        background:none;
        border-bottom: 1px solid #fff;
        padding: 6%;
        margin-bottom: 20px;
        color: #ffffff;
        
    }
    #button{

        border-radius: 20px;
        padding: 10px 20px ;
        background: #1d3f16;
        color: #fff;
        margin-top: 20px;
        border: none;
        outline: none;
       
    }
    #checked{
        text-align: left;
        
    }
    a{
        font-size: 13px;
    }

}

